In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('combustion.csv',index_col=0)

In [15]:
df.head()

,Pc,eps,MR,PcOvPe,subar,Tc,Tt,Te,Isp,gamma
0,17.0,1.000879,0.75,1.678184,3,1085.460377,1030.853078,1027.691435,138.243787,1.136492
1,17.0,1.000879,0.75,1.678184,2,1085.460377,1030.853078,1027.691435,138.243787,1.136492
2,17.0,1.001026,1.00,1.678184,3,1140.034568,1079.768411,1076.053771,143.508297,1.144131
3,17.0,1.001026,1.00,1.678184,2,1140.034568,1079.768411,1076.053771,143.508297,1.144131
4,17.0,1.001190,1.25,1.678184,3,1197.565234,1122.574428,1118.111379,147.739013,1.155159

In [16]:
df.sort_values('Isp',ascending=False)

,Pc,eps,MR,PcOvPe,subar,Tc,Tt,Te,Isp,gamma
2643,39.5,1.315677,4.75,3.899309,2,3184.096334,2992.064520,2714.649617,217.909961,1.164867
2642,39.5,1.315677,4.75,3.899309,3,3184.096334,2992.064520,2714.649617,217.909961,1.164867
2641,39.5,1.308070,4.50,3.899309,2,3164.039868,2961.749269,2663.679916,217.727410,1.180812
2640,39.5,1.308070,4.50,3.899309,3,3164.039868,2961.749269,2663.679916,217.727410,1.180812
2645,39.5,1.320961,5.00,3.899309,2,3194.684539,3009.084981,2746.764256,217.677246,1.152971
...,...,...,...,...,...,...,...,...,...,...
116,18.0,1.000511,0.75,1.776900,3,1088.858906,1033.929482,1031.513183,138.325990,1.136805
1,17.0,1.000879,0.75,1.678184,2,1085.460377,1030.853078,1027.691435,138.243787,1.136492
0,17.0,1.000879,0.75,1.678184,3,1085.460377,1030.853078,1027.691435,138.243787,1.136492
59,17.5,1.000007,0.75,1.727542,2,1087.181918,1032.411498,1032.099133,138.241725,1.136865
58,17.5,1.000007,0.75,1.727542,3,1087.181918,1032.411498,1032.099133,138.241725,1.136865